<template>
  <svg width="586" preserveAspectRatio="none" height="586" viewBox="0 0 586 586" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M586 0L-2.56149e-05 586L0 -2.56149e-05L586 0Z" fill="#F7F7F7"/> <path d="M0 0L586 586H0V0Z" fill="#ECECEC"/> </svg>
</template>

<script>
  export default {
    name: 'BgOne'
  }
</script>