<template>
  <svg width="757" height="757" viewBox="0 0 757 757" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M646.14 110.86C610.993 75.7131 569.267 47.833 523.346 28.8116C477.424 9.79017 428.205 -1.12579e-05 378.5 0C328.795 1.1258e-05 279.576 9.79022 233.654 28.8116C187.732 47.8331 146.007 75.7132 110.86 110.86L378.5 378.5L646.14 110.86Z" fill="#53939A"/> <path d="M646.14 646.14C681.287 610.993 709.167 569.267 728.188 523.346C747.21 477.424 757 428.205 757 378.5C757 328.795 747.21 279.576 728.188 233.654C709.167 187.733 681.287 146.007 646.14 110.86L378.5 378.5L646.14 646.14Z" fill="#29474A"/> <path d="M110.86 110.86C75.7131 146.007 47.833 187.733 28.8116 233.654C9.79018 279.576 -4.54263e-06 328.795 0 378.5C4.54263e-06 428.205 9.7902 477.424 28.8116 523.346C47.833 569.267 75.7131 610.993 110.86 646.14C146.007 681.287 187.733 709.167 233.654 728.188C279.576 747.21 328.795 757 378.5 757C428.205 757 477.424 747.21 523.346 728.188C569.267 709.167 610.993 681.287 646.14 646.14L378.5 378.5L110.86 110.86Z" fill="#8FBDC2"/> </svg>
</template>

<script>
  export default {
    name: 'BlueCircle'
  }
</script>