<template>
  <svg width="331" height="331" viewBox="0 0 331 331" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M331 165.5C331 256.903 256.903 331 165.5 331C74.0969 331 0 256.903 0 165.5C0 74.0969 74.0969 0 165.5 0C256.903 0 331 74.0969 331 165.5Z" fill="#3BC451"/> <path fill-rule="evenodd" clip-rule="evenodd" d="M74 178.712L95.0345 157.652L139.207 201.879L235.966 105L257 126.061L139.207 244L74 178.712Z" fill="white"/> </svg>
</template>

<script>
  export default {
    name: 'GreenMark'
  }
</script>