<template>
  <svg width="1261" height="671" viewBox="0 0 1261 671" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M590.432 352.674C581.598 485.774 470.837 591 335.5 591C194.391 591 80 476.609 80 335.5C80 194.391 194.391 80 335.5 80C470.837 80 581.598 185.226 590.432 318.326C590.145 324.015 590 329.74 590 335.5C590 341.26 590.145 346.985 590.432 352.674ZM630.5 495.432C573.685 600.009 462.883 671 335.5 671C150.208 671 0 520.792 0 335.5C0 150.208 150.208 0 335.5 0C462.883 0 573.685 70.9912 630.5 175.568C687.315 70.9912 798.117 0 925.5 0C1110.79 0 1261 150.208 1261 335.5C1261 520.792 1110.79 671 925.5 671C798.117 671 687.315 600.009 630.5 495.432ZM670.568 352.674C679.402 485.774 790.163 591 925.5 591C1066.61 591 1181 476.609 1181 335.5C1181 194.391 1066.61 80 925.5 80C790.163 80 679.402 185.226 670.568 318.326C670.855 324.015 671 329.74 671 335.5C671 341.26 670.855 346.985 670.568 352.674Z" :fill="color"/> </svg>
</template>

<script>
  export default {
    name: 'Infinity',
    props: {
      color: {
        type: String,
        default: '#000',
      },
    },
  }
</script>