<template>
  <svg width="106" height="86" viewBox="0 0 106 86" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M1.72481 47.129L39.2015 84.2897C41.5012 86.5701 45.2299 86.5701 47.5296 84.2897C49.8294 82.0094 49.8294 78.3121 47.5296 76.0318L20.1059 48.8392H100.111C103.363 48.8392 106 46.2249 106 43C106 39.7751 103.363 37.1608 100.111 37.1608H20.1059L47.5296 9.96822C49.8294 7.68785 49.8294 3.99065 47.5296 1.71028C45.2299 -0.570092 41.5012 -0.570092 39.2015 1.71028L1.72481 38.871C-0.574938 41.1514 -0.574938 44.8486 1.72481 47.129Z" :fill="color"/> </svg>
</template>

<script>
  export default {
    name: 'LeftArrow',
    props: {
      color: {
        type: String,
        default: '#42BBC9',
      },
    },
  }
</script>