<template>
  <svg width="475" height="671" viewBox="0 0 475 671" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M232.561 370.934C158.633 349.703 104.757 323.689 70.9357 292.89C37.4134 261.792 20.6522 223.517 20.6522 178.066C20.6522 126.635 41.1547 84.174 82.1597 50.6838C123.464 16.8946 177.04 0 242.888 0C287.784 0 327.741 8.67157 362.76 26.0147C398.078 43.3578 425.315 67.2794 444.471 97.7794C463.926 128.279 473.653 161.62 473.653 197.801H387.004C387.004 158.331 374.433 127.382 349.291 104.956C324.149 82.2304 288.681 70.8676 242.888 70.8676C200.386 70.8676 167.163 80.2868 143.218 99.125C119.573 117.664 107.75 143.529 107.75 176.721C107.75 203.333 118.974 225.909 141.422 244.449C164.17 262.689 202.631 279.434 256.805 294.684C311.279 309.934 353.781 326.828 384.31 345.368C415.139 363.608 437.886 384.988 452.552 409.507C467.517 434.027 475 462.882 475 496.074C475 549 454.348 591.461 413.043 623.456C371.739 655.152 316.517 671 247.377 671C202.481 671 160.578 662.478 121.668 645.434C82.7584 628.091 52.678 604.468 31.4272 574.566C10.4757 544.664 0 510.725 0 472.75H86.6493C86.6493 512.221 101.166 543.468 130.198 566.493C159.531 589.218 198.59 600.581 247.377 600.581C292.872 600.581 327.741 591.311 351.985 572.772C376.229 554.233 388.351 528.966 388.351 496.971C388.351 464.975 377.127 440.306 354.679 422.963C332.231 405.321 291.525 387.978 232.561 370.934Z" :fill="color"/> </svg>
</template>

<script>
  export default {
    name: 'S',
    props: {
      color: {
        type: String,
        default: '#000',
      },
    },
  }
</script>