<template>
  <svg width="586" preserveAspectRatio="none" height="586" viewBox="0 0 586 586" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M0 0L586 586H0V0Z" :fill="color"/> </svg>
</template>

<script>
  export default {
    name: 'TriAngle',
    props: {
      color: {
        type: String,
        default: '#fff',
      },
    },
  }
</script>