html {
  color: #0f0f0f;
}



img ,
svg {
  vertical-align: baseline;
  display: block;
  height: auto;
}




a:link ,
a:visited ,
a {
  color: #42BBC9;
}
a.is-active {
  color: #0f0f0f;
}
a:hover {
  color: #555;
}
a {
  transition: 0.3s all;
}




.text-centered {
  text-align: center;
}




.pager {
  font-size: 0.88em;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
.pager-control {
  font-size: 0.9em;
}
.pager li {
  display: block;
  margin-right: 20px;
}
.pager li:last-child {
  margin-right: 0;
}
.pager li.disabled a {
  color: #bbb;
  pointer-events: none;
}
.pager a {
  color: #555;
  display: block;
}
.pager a:hover ,
.pager .active a {
  color: #2f9b4d;
}
.pager .active a {
  pointer-events: none;
}




.velmld-overlay {
  z-index: auto !important;
}
.velmld-full-screen {
  z-index: 3000 !important;
}




table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
table tr {
  border: 1px solid #ddd;
  padding: .35em;
}
table th,
table td {
  padding: .625em;
  border-right: 1px solid #ddd;
}
.b-table.text-centered table td ,
.b-table.text-centered table th {
  text-align: center;
}
table th {
  font-size: .85em;
  letter-spacing: .1em;
  font-weight: 600;
}

.b-table.style-1 {
  box-shadow: 0 0 10px rgba(89, 199, 120, 0.2);
}
.b-table.style-1 table tr:hover {
  background-color: #f8f8f8;
}
.b-table.style-1 table tr ,
.b-table.style-1 table {
  border-color: #eee;
}
.b-table.style-1 table th {
  color: #fff;
  font-size: 0.9em;
  font-weight: 500;
  text-transform: uppercase;
  border-color: #666;
  background-color: #555;
}
.b-table.style-1 table td {
  border-color: #eee;
  color: #555;
  font-size: 0.84em;
}
.b-table.style-1.responsive {
  box-shadow: none;
}
.b-table.style-1.responsive tr {
  box-shadow: 0 0 10px rgba(89, 199, 120, 0.2);
}
.b-table.style-1.responsive tr:hover {
  background-color: rgba(0,0,0,0);
}

.b-table.responsive table {
  border: 0;
}
.b-table.responsive table caption {
  font-size: 1.3em;
}
.b-table.responsive table thead {
  border: none;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.b-table.responsive table tr {
  display: block;
  margin-bottom: 15px;
}
.b-table.responsive table td {
  border-right: 0;
  border-bottom: 1px solid #ddd;
  display: block;
  font-size: .8em;
  text-align: right;
}
.b-table.responsive table td::before {
  content: attr(data-label);
  float: left;
  font-weight: 600;
}
.b-table.responsive table td:last-child {
  border-bottom: 0;
}



.pkg-credit .circle {
  width: 90px;
  height: 90px;

  overflow: hidden;

  border-radius: 100%;

  border: 1px solid #53939a;
  padding: 2px;
}
.pkg-credit .wrapper {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;
  border-radius: 100%;
  background-color: #53939a;

  color: #fff;
  font-weight: 300;
  font-size: 1.563em;
  letter-spacing: 2px;

  position: relative;
}
.pkg-credit .circle.dark {
  border-color: #29474A;
}
.pkg-credit .circle.dark .wrapper {
  background-color: #29474A;
}
.pkg-credit .circle .bg svg {
  width: 100%;
  height: 100%;
}
.pkg-credit .circle .bg {
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.pkg-credit .circle .value {
  position: relative;
  z-index: 10;

  text-shadow: 0 0 2px rgba(0,0,0, 0.3);
}
.pkg-credit .icon-num svg {
  max-width: 100%;
  height: auto;
}
.pkg-credit .icon-num {
  max-width: 40%;
  position: relative;
  z-index: 10;
}