html ,
body {
  width: 100%;
  height: 100%;
}
#app {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}


.footer-bottom-minimum {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.footer-bottom-minimum footer {
  margin-top: auto;
}


.main-layout-1130 {
  max-width: 1130px;
  margin-left: auto;
  margin-right: auto;
}


.padded-lr-15 {
  padding-left: 15px;
  padding-right: 15px;
}