<template>
  <section class="pages page-login">
    <div class="container padded-lr-15">
      <div class="content">
        <h1>
          Member Login
        </h1>

        <LoginForm />
      </div>
    </div>
  </section>
</template>

<style scoped>
  h1 {
    color: #3F3A5E;
    margin-bottom: 50px;
    text-align: center;
    font-size: 1.563em;
  }

  section.pages {
    min-height: 100%;
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    padding: 50px 0;
    background-color: #333;
  }
  .container {
    max-width: 1200px;
    width: 100%;
    position: relative;
    z-index: 10;
    margin: 0 auto;
  }

  .content {
    padding: 50px 30px;
    max-width: 350px;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
    z-index: 10;
    box-shadow: 0 0 5px rgba(0,0,0,0.8);
  }

  @media only screen and (max-width : 600px) {
    h1 {
      margin-bottom: 20px;
      font-size: 1.4em;
    }
    .content {
      padding: 30px;
    }
    section.pages {
      padding: 30px 0;
    }
  }

  @media only screen and (max-width : 500px) {
    h1 {
      margin-bottom: 20px;
      font-size: 1.2em;
    }
  }
</style>

<script>
import LoginForm from '@/components/forms/LoginForm.vue'

export default {
  name: 'Login',
  components: {
    LoginForm,
  },
}
</script>