<template>
  <section class="pages page-logout">
    <div v-if="success" class="container padded-lr-15">
      <div class="content-wrapper">
        <div class="content">
          <div class="message">
            Successfully logged out.
          </div>
        </div>
      </div>
    </div>

    <vue-element-loading :active="loading" is-full-screen />
  </section>
</template>

<style scoped>
  .pages {
    min-height: 100%;
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    padding: 50px 0;
    background-color: #f8f8f8;
  }
  .container {
    max-width: 1200px;
    width: 100%;
    position: relative;
    z-index: 10;
    margin: 0 auto;
  }
  .content-wrapper {
    justify-content: center;
    display: flex;
  }
  .message {
    cursor: progress;
    background-color: #59C778;
    padding: 15px 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;

    color: #fff;
    text-align: center;
    margin-bottom: 25px;
  }
</style>

<script>
export default {
  name: 'Logout',
  data: function() {
    return {
      loading: false,
      success: false,
    }
  },
  methods: {
    logout: async function() {
      const thisCompo = this

      this.$store.dispatch('User/set_account', null)
      this.$store.dispatch('User/set_token', null)

      this.$store.dispatch('Purchase/set_current', null)
      this.$store.dispatch('Purchase/set_promocode', null)

      this.loading = true

      this.success = true
      this.loading = false

      this.$appStorage.set('redirect', {name: 'login'})

      setTimeout(() => {
        thisCompo.$router.push({name: 'login'})
      }, 2500)
    },
  },
  mounted: function() {
    this.logout()
  },
}
</script>
