<template>
  <section class="pages page-package-list">
    <div class="container padded-lr-15">
      <div class="wrapper">
        <div class="account-bar">
          <ProfileInfo />
        </div>

        <PackageList />
      </div>
    </div>
  </section>
</template>

<style scoped>
  section.pages {
    background-color: #f8f8f8;

    min-height: 100%;
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    padding: 50px 0;
  }
  .container {
    max-width: 1100px;
    width: 100%;
    position: relative;
    z-index: 10;
    margin: 0 auto;
  }


  .wrapper {
    min-height: 400px;
  }


  .account-bar {
    margin-bottom: 50px;
  }


  @media only screen and (max-width : 600px) {
    section.pages {
      padding: 30px 0;
    }
  }
</style>

<script>
import ProfileInfo from '@/components/ProfileInfo.vue'
import PackageList from '@/components/PackageList.vue'

export default {
  name: 'Packages',
  components: {
    ProfileInfo,
    PackageList,
  },
}
</script>