<template>
  <section class="pages page-purchase-package-success">
    <div v-if="currentPackage.pack_id" class="container padded-lr-15">
      <div class="wrapper">
        <div class="account-bar">
          <ProfileInfo />
        </div>

        <h1>
          Thank You!
          <br />
          You Have Successfully Purchased A Class Pack!
        </h1>

        <PurchasePackageSuccessForm :package="currentPackage" :promocode="packagePromocode" />
      </div>
    </div>

    <FigBgOne class="bg-cover" />
  </section>
</template>

<style scoped>
  h1 {
    font-size: 1.563em;
    color: #243E56;
    text-transform: uppercase;
    margin-bottom: 35px;
    font-weight: 300;
    word-spacing: 0.2em;
    letter-spacing: 0.15em;
  }

  section.pages {
    background-color: #F1F1F1;

    min-height: 100%;
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    padding: 50px 0;

    position: relative;
  }
  .container {
    max-width: 1100px;
    width: 100%;
    position: relative;
    z-index: 10;
    margin: 0 auto;
  }


  .bg-cover {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 60%;
  }


  .wrapper {
    min-height: 400px;
  }


  .account-bar {
    margin-bottom: 50px;
  }


  @media only screen and (max-width : 780px) {
    h1 {
      font-size: 1.4em;
      margin-bottom: 28px;
    }
  }

  @media only screen and (max-width : 600px) {
    h1 {
      font-size: 1.2em;
      margin-bottom: 25px;
    }

    section.pages {
      padding: 30px 0;
    }
  }

  @media only screen and (max-width : 500px) {
    h1 {
      margin-bottom: 20px;
      font-size: 1.1em;
      letter-spacing: normal;
      word-spacing: normal;
    }
  }
</style>

<script>
import FigBgOne from '@/assets/figures/BgOne.vue'
import ProfileInfo from '@/components/ProfileInfo.vue'
import PurchasePackageSuccessForm from '@/components/forms/PurchasePackageSuccessForm.vue'

export default {
  name: 'PurchasePackageSuccess',
  components: {
    FigBgOne,
    ProfileInfo,
    PurchasePackageSuccessForm,
  },
  computed: {
    currentPackage: function() {
      return this.$store.state.Purchase.current ? this.$store.state.Purchase.current : {}
    },
    packagePromocode: function() {
      return this.$store.state.Purchase.promocode
    }
  },
  mounted: function() {
    if (!this.currentPackage.pack_id) {
      this.$router.push({name: 'packages'})
    }
  }
}
</script>
