<template>
  <div class="package-preview">
    <div v-if="$util.isValid(currentPackage.total_credit)" class="pkg-credit">
      <div
        class="circle"
        :class="{'dark': currentPackage.pack_type == 'shareable'}">

        <div class="wrapper">
          <div
            v-if="currentPackage.pack_type == 'unlimited'"
            class="bg">

            <FigBlueCircle />
          </div>
          <div
            v-else
            class="value">

            <span v-if="currentPackage.pack_alias == 'single-pack'">S</span>
            <span v-else>{{ currentPackage.total_credit }}</span>
          </div>

          <div
            v-if="currentPackage.pack_type == 'unlimited'"
            class="icon-num unlimited">

            <FigInfinity :color="'#fff'" />
          </div>
        </div>
      </div>
    </div>

    <div class="info">
      <div v-if="currentPackage.pack_name" class="name">
        {{ currentPackage.pack_name }}
      </div>

      <div v-if="currentPackage.newbie_note" class="sub-title">
        {{ currentPackage.newbie_note }}
      </div>
    </div>

    <div v-if="$util.isValid(currentPackage.pack_price)" class="price">
      ${{ currentPackage.pack_price.toLocaleString() }}
    </div>
  </div>
</template>

<script>
import FigInfinity from '@/assets/figures/Infinity.vue'
import FigBlueCircle from '@/assets/figures/BlueCircle.vue'

export default {
  name: 'PackagePreview',
  components: {
    FigInfinity,
    FigBlueCircle,
  },
  props: {
    package: {
      type: Object,
      default: function() {
        return {}
      },
    },
  },
  computed: {
    currentPackage: function() {
      return this.package
    }
  }
}
</script>

<style scoped>
  .package-preview {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 20px;
    align-items: center;
  }

  .name {
    color: #53939A;
    font-size: 1.25em;
    font-weight: 500;
    margin-bottom: 7px;
  }
  .sub-title {
    color: #53939A;
    font-size: 0.875em;
    font-weight: 300;
  }

  .price {
    font-weight: 600;
    font-size: 1.25em;
  }

  .pkg-credit .circle {
    width: 70px;
    height: 70px;
  }


  @media only screen and (max-width : 600px) {
    .info {
      font-size: 0.9em;
    }

    .name {
      font-size: 1.2em;
      margin-bottom: 0;
    }
    .price {
      font-size: 1.1em;
    }
    .package-preview {
      grid-gap: 10px;
    }

    .pkg-credit .circle {
      width: 65px;
      height: 65px;
    }

    .pkg-credit .wrapper {
      font-size: 1.5em;
    }
  }


  @media only screen and (max-width : 500px) {
    .pkg-credit .circle {
      width: 50px;
      height: 50px;
    }

    .pkg-credit .wrapper {
      font-size: 1.2em;
    }

    .name {
      font-size: 1.1em;
      margin-bottom: 0;
    }
  }
</style>