<template>
  <div class="package-list">
    <h2>Purchase packages</h2>

    <div class="bar"></div>

    <div v-if="!loading" class="list">
      <div
        v-for="(pkg, key) in packages"
        :key="key"
        class="packages">

        <div class="cover-img" :style="coverImg(pkg)">
          <FigTriAngle />
        </div>

        <header>
          <div v-if="pkg.tag_name" class="tag">
            {{ pkg.tag_name }}
          </div>

          <div class="name">
            <span class="value" @click.prevent="purchase(pkg)">{{ pkg.pack_name }}</span>
          </div>
        </header>

        <div v-if="$util.isValid(pkg.total_credit)" class="pkg-credit">
          <div
            class="circle"
            :class="{'dark': pkg.pack_type == 'shareable'}">

            <div class="wrapper">
              <div
                v-if="pkg.pack_type == 'unlimited'"
                class="bg">

                <FigBlueCircle />
              </div>
              <div
                v-else
                class="value">

                <span v-if="pkg.pack_alias == 'single-pack'">S</span>
                <span v-else>{{ pkg.total_credit }}</span>
              </div>

              <div
                v-if="pkg.pack_type == 'unlimited'"
                class="icon-num unlimited">

                <FigInfinity :color="'#fff'" />
              </div>
            </div>
          </div>
        </div>

        <div v-if="pkg.newbie_note || pkg.pack_description" class="about">
          <div v-if="pkg.newbie_note" class="note">
            {{ pkg.newbie_note }}
          </div>

          <div v-if="pkg.pack_description" class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
          </div>
        </div>

        <div
          v-if="$util.isValid(pkg.pack_price) || $util.isValid(pkg.estimate_price)"
          class="price">

          <div v-if="$util.isValid(pkg.pack_price)" class="pack-price">
            ${{ pkg.pack_price.toLocaleString() }}
          </div>

          <div v-if="$util.isValid(pkg.estimate_price) && pkg.estimate_price !== pkg.pack_price" class="estimate-price">
            <span v-if="pkg.pack_type !== 'unlimited'">
              ${{ pkg.estimate_price.toLocaleString() }}
            </span>

            <span v-if="pkg.pack_alias !== 'single-pack'">
              <span class="suffix" v-if="pkg.pack_type == 'unlimited'"> per month</span>
              <span class="suffix" v-else> per class!</span>
            </span>
          </div>
        </div>

        <div class="actions">
          <button class="purchase" @click.prevent="purchase(pkg)">
            Purchase Now
          </button>
        </div>
      </div>
    </div>

    <vue-element-loading :active="loading" background-color="rgba(255, 255, 255, 0)" />
  </div>
</template>

<script>
import FigInfinity from '@/assets/figures/Infinity.vue'
import FigBlueCircle from '@/assets/figures/BlueCircle.vue'
import FigTriAngle from '@/assets/figures/TriAngle.vue'

export default {
  name: 'PackageList',
  components: {
    FigInfinity,
    FigBlueCircle,
    FigTriAngle,
  },
  data: function() {
    return {
      loading: false,

      packages: [],
    }
  },
  mounted: async function() {
    this.loading = true

    const packages = await this.$api.packageList()

    if (packages) {
      const data = packages.data.data

      this.packages = data.pack_list.sort( (a,b) => a.disp_order - b.disp_order )
    }

    this.loading = false
  },
  methods: {
    coverImg: function(pkg) {
      return {
        'background-image': `url(${this.$store.state.api}/images/square/${pkg.pack_alias}.png)`
      }
    },

    purchase: function(pkg) {
      this.$store.dispatch('Purchase/set_current', pkg)

      this.$router.push({
        name: 'purchasePackage',
        params: {
          id: pkg.pack_id
        }
      })
    },
  },
}
</script>

<style scoped>
  h2 {
    color: #3f3a5e;
    font-size: 1.563em;
    font-weight: 600;

    text-align: center;
  }


  .bar {
    margin: 30px auto;
    margin-bottom: 50px;
    max-width: 60px;
    height: 4px;
    border-radius: 10px;
    background-color: #3f3a5e;
    opacity: 0.8;
  }


  .package-list {
    min-height: 200px;
  }
  .package-list .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
  }

  .packages {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    overflow: hidden;
    position: relative;
    z-index: 10;
  }

  .packages header {
    position: relative;
    z-index: 10;
  }
  .packages .cover-img svg {
    width: 100%;
    height: 100%;
    margin-top: auto;

    position: relative;
    left: -1px;
    bottom: -1px;
  }
  .packages .cover-img {
    z-index: 9;
    position: absolute;
    right: 0;
    top: 0;
    width: 110px;
    height: 110px;

    background-repeat: no-repeat;
    background-size: cover;
  }
  .packages .tag {
    background-color: #0a0a0a;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    color: #fff;
    font-weight: 300;
    padding: 5px 30px;

    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.750em;
  }

  .packages .name .value {
    color: #4E848A;
    cursor: pointer;
    transition: 0.3s all;
  }
  .packages .name .value:hover {
    color: #29474A;
  }

  .packages .name {
    position: relative;
    z-index: 11;
    padding-top: 50px;

    font-size: 1.250em;
    font-weight: 500;
    text-align: center;

    margin-bottom: 20px;
  }
  .packages .about {
    font-size: 0.813em;
    line-height: 1.5;

    text-align: center;
    margin: 30px auto;

    color: #333;

    max-width: 200px;
  }
  .packages .note {
    font-weight: 500;
    margin-bottom: 5px;
  }
  .packages .description {
    font-weight: 300;
  }

  .packages {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto 1fr;
  }
  .packages .price {
    text-align: center;
  }
  .packages .pack-price {
    font-weight: 600;
    font-size: 1.250em;
  }
  .packages .estimate-price {
    margin-top: 3px;
    opacity: 0.5;
    font-weight: 500;
    font-size: 0.875em;
  }

  .pkg-credit .circle {
    margin: 0 auto;
  }

  .actions {
    align-self: center;
    margin-top: 30px;
    padding-bottom: 10px;
  }
  .purchase {
    border-radius: 30px;
    padding: 3px 20px;

    font-size: 0.875em;
    font-weight: 400;

    background-color: #53939A;

    transition: 0.3s all;

    cursor: pointer;

    display: block;
    border: 0;
    color: #fff;

    margin: 0 auto;
  }
  .purchase:hover {
    background-color: #33737a;
  }
  .purchase:active {
    background-color: #29474A;
  }



  @media only screen and (max-width : 1100px) {
    .bar {
      margin-top: 20px;
      margin-bottom: 40px;
    }

    .package-list {
      font-size: 0.95em;
    }

    .package-list .list {
      grid-gap: 15px;
    }
  }

  @media only screen and (max-width : 1000px) {
    h2 {
      font-size: 1.5em;
    }

    .package-list .list {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media only screen and (max-width : 650px) {
    h2 {
      font-size: 1.4em;
    }

    .package-list .list {
      grid-template-columns: 100%;
    }
  }
</style>