<template>
  <div class="profile-info">
    <div class="left">
      <div class="pic">
        <img src="https://robohash.org/5449b6a66790e0ecdda43757a4033e9a?set=set4&bgset=&size=400x400">
      </div>

      <div class="name">
        {{ $store.state.User.account.name }}
      </div>
    </div>

    <div class="right">
      <router-link class='m-links' to="/logout">Logout</router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProfileInfo',
}
</script>

<style scoped>
  .profile-info,
  .left {
    display: flex;
    align-items: center;
  }

  .profile-info {
    justify-content: space-between;
  }

  .pic img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .pic {
    max-width: 50px;
    border-radius: 100%;
    overflow: hidden;

    margin-right: 15px;
    border: 2px solid #3F3A5E;
  }

  .name {
    font-size: 1.250em;
    color: #3F3A5E;
    text-decoration: underline;
  }

  .m-links {
    font-size: 0.875em;
    font-weight: 500;
    text-decoration: none;
    color: #29474A;
  }
  .m-links:hover {
    color: #0a0a0a;
  }


  @media only screen and (max-width : 1100px) {
    .profile-info {
      font-size: 0.95em;
    }
  }

  @media only screen and (max-width : 800px) {
    .pic {
      max-width: 45px;
    }
    .profile-info {
      font-size: 0.9em;
    }
  }

  @media only screen and (max-width : 600px) {
    .pic {
      max-width: 40px;
    }
    .profile-info {
      font-size: 0.85em;
    }
  }
</style>