<template>
  <div class='reconnect-wrapper'>
    <slot v-if="connection"></slot>

    <section v-if="connection == false" class="reconnect pages">
      <div class="container padded-lr-15" v-if="loading == false">
        <div class="content-wrapper">
          <div class="content">
            <div class="message">
              Connection lost.
            </div>
            <button class="font-weight w500" @click.prevent="reconnect()">
              Reconnect
            </button>
          </div>
        </div>
      </div>
    </section>

    <vue-element-loading :active="loading" is-full-screen />
  </div>
</template>

<script>
  export default {
    name: 'ReconnectWrapper',
    props: {
      connectionChange: {
        type: Function,
        default: function() {
        },
      },
    },
    data: function() {
      return {
        loading: false,
        loggedIn: false,
        ignore: false,
        hasError: false,
      }
    },
    watch: {
      hasError: function(newVal) {
        if (newVal) {
          this.loading = false
        }
      },
    },
    computed: {
      connection: function() {
        if (this.ignore) {
          return true
        }

        if (this.loggedIn) {
          return true
        }

        return false
      },
    },
    created: function() {
      if (this.$route.meta.auth) {
        this.reconnect()
      }
      else {
        this.ignore = true
      }
    },
    methods: {
      clearDataAndRedirectToLogin() {
        this.$store.dispatch('User/set_account', null)
        this.$store.dispatch('User/set_token', null)

        this.$store.dispatch('Purchase/set_current', null)
        this.$store.dispatch('Purchase/set_promocode', null)

        this.$router.push({name: 'login'})
        this.$appStorage.set('redirect', {name: 'login'})

        this.ignore = true
      },
      reconnect: async function() {
        const thisCompo = this

        this.hasError = false
        this.loading = true

        const response = await this.$api.accountInfo().catch( (err) => {
          if (err.response) {
            thisCompo.$toasted.show('Session expired. Please login again', {
              type: 'error',
              position: 'bottom-center'
            })

            thisCompo.clearDataAndRedirectToLogin();
          }
          else {
            thisCompo.$toasted.show('Connection error', {
              type: 'error',
              position: 'bottom-center'
            })
          }

          thisCompo.hasError = true
        })

        if (this.hasError) return

        if (response && !this.$util.isEmpty(response.data)) {
          const isMember = response.data.roles.find(rid => rid == 'member');

          if (isMember) {
            this.$store.dispatch('User/set_account', response.data)

            this.$toasted.show('Reconnected', {
              position: 'bottom-center'
            })

            this.loggedIn = true
          }
          else {
            thisCompo.$toasted.show("You're not authorized", {
              type: 'error',
              position: 'bottom-center'
            })

            thisCompo.clearDataAndRedirectToLogin();
          }
        }

        this.loading = false

        this.connectionChange({
          connection: this.connection
        })
      },
    },
  }
</script>

<style scoped>
  section.pages {
    min-height: 100%;
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    padding: 50px 0;
    background-color: #f8f8f8;
  }
  .container {
    max-width: 1200px;
    width: 100%;
    position: relative;
    z-index: 10;
    margin: 0 auto;
  }
  .content-wrapper {
    justify-content: center;
    display: flex;
  }
  .content {
    background-color: #fff;
    padding: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }
  .message {
    color: #444;
    text-align: center;
    margin-bottom: 25px;
  }
  button {
    display: block;
    cursor: pointer;
    color: #fff;
    padding: 8px 27px;
    border-radius: 50px;
    background-color: #3F3A5E;
    border: 0;

    transition: 0.3s all;
  }
  button:hover {
    background-color: #0e0d15;
  }
  button:active {
    background-color: #268140;
  }
</style>