<template>
  <div class="forms login-form">
    <form @submit.prevent="submit">
      <div class="fields"
        :class="{'error': errors.has('email')}">

        <input
          v-model="email"
          name="email"
          v-validate="'required|email'"
          type="email"
          :class="{'error': errors.has('email')}"
          placeholder="Email"
          data-vv-as="Email"
        />

        <div class="error-msg" v-if="errors.has('email')">
          {{ errors.first('email') }}
        </div>
      </div>

      <div class="fields"
        :class="{'error': errors.has('password')}">

        <input
          v-model="password"
          name="password"
          v-validate="'required'"
          type="password"
          :class="{'error': errors.has('password')}"
          placeholder="Password"
          data-vv-as="Password"
        />

        <div class="error-msg" v-if="errors.has('password')">
          {{ errors.first('password') }}
        </div>
      </div>

      <button class="submit">Login</button>
    </form>

    <vue-element-loading :active="loading" is-full-screen />
  </div>
</template>

<script>
export default {
  name: 'LoginForm',
  data: function() {
    return {
      loading: false,
      email: null,
      password: null,
    }
  },
  methods: {
    logIn: function() {
      const thisCompo = this

      this.loading = true

      this.$api.login({
        username: this.email,
        password: this.password,
      }).then((response) => {
        const isMember = response.data.account.roles.find(rid => rid == 'member');

        if (response.data.account.status == 1 && isMember) {
          thisCompo.$store.dispatch('User/set_token', 'Token ' + response.data.authToken)
          thisCompo.$store.dispatch('User/set_account', response.data.account)

          // thisCompo.$axios.defaults.headers.common['Authorization'] = thisCompo.$store.state.User.token

          thisCompo.$router.push(thisCompo.afterRedirect)
          thisCompo.$appStorage.set('redirect', thisCompo.afterRedirect)

          thisCompo.$toasted.show('Successfully logged in', {
            position: 'bottom-center'
          })

          thisCompo.loading = false
          thisCompo.resetForm()
        }
        else if (response.data.account.status == 2) {
          thisCompo.$toasted.show('Account is blocked', {
            type: 'error',
            position: 'top-center'
          })

          thisCompo.loading = false
        }
        else if (!isMember) {
          thisCompo.$toasted.show("You're not authorized", {
            type: 'error',
            position: 'top-center'
          })

          thisCompo.loading = false
        }
      }).catch( (err) => {
        if (err.response) {
          thisCompo.$toasted.show('Account not found', {
            type: 'error',
            position: 'top-center'
          })
        }
        else {
          thisCompo.$toasted.show('Connection error', {
            type: 'error',
            position: 'bottom-center'
          })
        }

        thisCompo.loading = false
      })
    },
    resetForm: function() {
      this.password = null;
      this.email = null;

      this.$validator.reset()
    },
    submit: function() {
      const thisCompo = this

      this.$validator.validateAll().then(result => {
        if (result) {
          thisCompo.logIn()
        }
        else {
          thisCompo.$toasted.show('Form is not valid! Please check the fields.', {
            type: 'error',
            position: 'bottom-center'
          })
        }
      })
    }
  },
  props: {
    afterRedirect: {
      type: Object,
      default: function() {
        return {name: 'packages'}
      },
    },
  }
}
</script>

<style scoped>
  .fields {
    margin-bottom: 30px;
  }
  .fields:last-child {
    margin-bottom: 0;
  }

  .fields input[type='password'],
  .fields input[type='text'],
  .fields input[type='email'] {
    width: 100%;
    display: block;

    padding: 10px 0;
    background: none;

    border: 0;
    border-bottom: 2px solid #d7d7d7;
  }

  .fields .error-msg {
    font-size: 0.8em;
    margin-top: 5px;
    color: #FF4B4B;
  }

  button {
    cursor: pointer;

    display: block;
    padding: 10px 30px;
    border: 0;
    background-color: #3F3A5E;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.125em;
    font-weight: 300;

    margin: 0 auto !important;
    margin-top: 50px;
  }


  @media only screen and (max-width : 600px) {
    button {
      padding: 8px 25px;
      font-size: 1.1em;
    }
  }

  @media only screen and (max-width : 500px) {
    button {
      padding: 5px 20px;
      font-size: 1em;
    }
  }
</style>