<template>
  <div class="forms purchase-package-success-form">
    <form @submit.prevent="submit">
      <section class="options">
        <article class="fields-sector">
          <h2>You have selected:</h2>

          <FigPackagePreview class="purchase-preview" :package="currentPackage" />
        </article>

        <article class="calculation">
          <div v-if="discount" class="discount">
            <div class="label">Discount</div>

            <div class="value">
              - ${{ discount.toLocaleString() }}
            </div>
          </div>

          <div class="sub-total">
            <div class="label">Subtotal</div>

            <div class="value">
              ${{ subTotal.toLocaleString() }}
            </div>
          </div>

          <div v-if="$store.state.gst" class="gst-total">
            <div class="label">GST</div>

            <div class="value">
              ${{ `${ gstAmount.toLocaleString() } (${$store.state.gst.toLocaleString()}%)` }}
            </div>
          </div>

          <div class="grand-total">
            <div class="label">Grand Total</div>

            <div class="value">
              ${{ grandTotal.toLocaleString() }}
            </div>
          </div>
        </article>
      </section>

      <section class="actions">
        <router-link class='m-links' to="/packages">
          <FigLeftArrow />

          <span>Back to packages</span>
        </router-link>
      </section>
    </form>

    <vue-element-loading :active="loading" is-full-screen />
  </div>
</template>

<script>
import FigPackagePreview from '@/components/PackagePreview.vue'
import FigLeftArrow from '@/assets/figures/LeftArrow.vue'

export default {
  name: 'PurchasePackageSuccessForm',
  components: {
    FigLeftArrow,
    FigPackagePreview,
  },
  data: function() {
    return {
      loading: false,
      password: null,
    }
  },
  props: {
    package: {
      type: Object,
      default: function() {
        return {}
      },
    },
    promocode: {
      type: String,
      default: null,
    },
  },
  computed: {
    currentPackage: function() {
      return this.package
    },
    subTotal: function() {
      let value = this.currentPackage.pack_price

      value -= this.discount

      return value
    },
    discount: function() {
      let value = this.currentPackage.pack_price

      if (this.promocode == 'DISCOUNT30%') {
        value = this.$util.percentOf(30, value)

        return value
      }

      return 0
    },
    gstAmount: function() {
      if (this.$store.state.gst) {
        let value = this.currentPackage.pack_price

        value -= this.discount

        value = this.$util.percentOf(this.$store.state.gst, value)

        return value
      }

      return 0
    },
    grandTotal: function() {
      let value = this.subTotal

      if (this.$store.state.gst) {
        value += this.$util.percentOf(this.$store.state.gst, value)
      }

      return value
    },
  }
}
</script>

<style scoped>
  .fields {
    margin-bottom: 30px;
  }
  .fields:last-child {
    margin-bottom: 0;
  }

  .fields input[type='text'] {
    width: 100%;
    display: block;

    padding: 10px 15px;
    background: none;
    border: 0;

    text-transform: uppercase;
  }

  .fields .suggestion-msg {
    font-size: 0.8em;
    margin-top: 5px;
    color: #888;
  }
  .fields .error-msg {
    font-size: 0.8em;
    margin-top: 5px;
    color: #FF4B4B;
  }

  button {
    width: 100%;
    cursor: pointer;

    display: block;
    padding: 8px 30px;
    border: 0;
    background-color: #42BBC9;
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 300;

    margin: 0 auto !important;
    margin-top: 50px;

    border-radius: 50px;

    transition: 0.3s all;
  }
  button:hover {
    background-color: #53939A;
  }
  button:active {
    background-color: #29474A;
  }


  .purchase-preview {
    margin-bottom: 20px;
  }


  .options {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    overflow: hidden;
  }

  .fields-sector {
    padding: 30px;
    border-bottom: 2px solid #eee;
  }

  .calculation {
    padding: 30px;
  }

  .fields-sector h2 {
    font-weight: 600;
    font-size: 1.250em;
    margin-bottom: 30px;
    color: #243e56;
  }


  .fields.promocode {
    max-width: 400px;
  }
  .fields.promocode .wrapper {
    display: grid;
    grid-template-columns: minmax(0, 300px) auto;
  }
  .fields.promocode .error-msg {
    margin-top: 10px;
  }
  .fields.promocode input {
    font-size: 0.875em;
    font-weight: 500;
    background-color: #F8F8F8;
    position: relative;
    z-index: 10;
    padding-right: 35px;
  }
  .fields.promocode .input {
    position: relative;
  }
  .fields.promocode .status {
    height: auto;
    max-width: 10px;
    position: absolute;
    right: 20px;
    top: 50%;
    z-index: 11;
    transform: translateY(-50%);
  }
  .fields.promocode .apply {
    cursor: pointer;
    color: #fff;
    font-size: 0.875em;
    text-transform: uppercase;
    font-weight: 500;
    background-color: #42BBC9;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;

    transition: 0.3s all;
  }
  .fields.promocode .apply:hover {
    background-color: #0a0a0a;
  }


  .actions ,
  .notes {
    margin-top: 40px;
  }

  .notes {
    font-weight: 300;
  }
  .actions {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: auto minmax(auto, 200px);
    justify-content: space-between;
  }
  .actions .m-links svg {
    max-width: 100%;
    height: auto;
  }
  .actions .m-links svg >>> path {
    transition: 0.3s all;
  }
  .actions .m-links {
    text-decoration: none;

    display: grid;
    align-items: center;
    grid-gap:15px;
    grid-template-columns: 20px auto;
  }
  .actions .m-links:hover svg >>> path {
    fill: #555;
  }


  .calculation {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 8px;
  }
  .calculation > div {
    display: flex;
    justify-content: space-between;
  }
  .calculation .label {
    font-size: 0.875em;
  }
  .calculation .grand-total {
    color: #53939A;
    font-weight: 500;
  }


  @media only screen and (max-width : 800px) {
    .fields-sector h2 {
      font-size: 1.1em;
    }

    .notes {
      font-size: 0.9em;
    }
  }

  @media only screen and (max-width : 600px) {
    .fields-sector h2 {
      font-size: 1em;
    }

    .fields.promocode {
      margin: 0 auto;
    }

    .notes {
      margin-top: 25px;

      font-size: 0.8em;
      font-weight: 400;
    }
    .actions {
      margin-top: 25px;
      padding-bottom: 50px;
    }
  }

  @media only screen and (max-width : 500px) {
    .fields.promocode {
      font-size: 0.9em;
    }

    .actions {
      grid-template-columns: auto minmax(auto, 150px);
    }

    button {
      padding: 5px 25px;
    }
  }
</style>